body {
 background-image: url("../images/background.jpg");
 background-repeat: no-repeat;
 background-position: right bottom;
 background-attachment: fixed;
 background-size: 50% 50%
}

p {
  font-size: 800px
}
